*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  align-items: end;
  gap: 30px;
  /* align-content: end; */
  margin: auto;
  inline-size: 1140px;
  block-size: 534px;
}

.result__video-container {
  position: relative;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* align-content: end; */
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox) {
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.6);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  /* display: inline-block; */
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #fff;
  /* inset: 0; */
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  background-color: #1b1919;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  /* text-underline-position: under; */
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  padding: 6px 74px;
}

.more-button {
  width: 100%;
  margin: 2px;
  padding: 6px 0;
  text-wrap: nowrap;
}

.content__details {
  inline-size: 100%;
}

.title {
  margin-block-end: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: hidden scroll;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 34px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  /* text-underline-position: under; */
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin: 2px 4px 6px 2px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  margin: 0 0 4px 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
